<div class="card">
  <div class="grid">
    <div class="col text-4xl">Ingreso de Datos</div>
  </div>
  <hr />
  <div class="grid">
    <div class="col-8 col-offset-2">
      <div class="flex flex-column gap-2">
        <label htmlFor="analizadorInput">Ingrese el texto</label>
        <input
          pInputText
          id="analizadorInput"
          aria-describedby="analizador-help"
          [(ngModel)]="message"
        />
        <small id="analizador-help"
          >Texto para realizar un análisis de sentimiento con modelos
          pre-entrenados.</small
        >
      </div>
      <div class="col-8 col-offset-2 text-center">
        <p-button
          label="Analizar"
          styleClass="p-button-success mr-2"
          (onClick)="analizarModelo()"
        ></p-button>
        <p-button
          label="Limpiar"
          styleClass="p-button-secondary"
          (onClick)="limpiarModelo()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
<div class="card" *ngIf="modelosActivados">
  <div class="grid">
    <div class="col text-2xl">Visualización de Resultados</div>
  </div>
  <hr />
  <p-table [value]="infos">
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">Modelo</th>
        <th class="text-center">Mensaje de Odio</th>
        <th class="text-center">Scope</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-info>
      <tr>
        <td class="text-center">{{ info.model }}</td>
        <td class="text-center">{{ info.label }}</td>
        <td class="text-center">{{ info.score }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
